<p></p>
<br/>
<br/>
<br/>
<md-card>
<md-card-title>
    <md-card-title-text>
    关于我们
    </md-card-title-text>
</md-card-title>
<md-card-content>
     <p>全能王词典 旨在为程序员提供一个易于使用的代码速查工具，提高开发效率。</p>
    <md-list>
        <md-subheader class="md-no-sticky">关于我</md-subheader>

        <md-list-item class="md-2-line">
                <img ng-src="img/photo/HongHui.jpg" class="face">
                <div class="md-list-item-text" layout="column">
                    <h4>陈宏辉</h4>
                    <p>Student from XiaMen</p>
                </div>
               
        </md-list-item>
    </md-list>
</md-card-content>
</md-card>