<div style="margin-top:5%"></div>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{countWhich.name}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <img ng-src="img/logo/{{countWhich.from}}.jpg" class="face" alt="{{countWhich.from}}">
          <div class="md-list-item-text" layout="column">

            <p>
                {{countWhich.detail}}
            </p>
          </div>
        </md-card-content>

      </md-card>
