<!--header begins-->
<md-toolbar style="position:fixed;top:0px">
<div class="md-toolbar-tools">
    <div>   
        <md-button class="md-icon-button" ng-click="toggleRight()" aria-label="Settings">
            <md-icon md-font-set="material-icons">menu</md-icon>
        </md-button>
    </div>
    <span flex></span>
    <h2>
        <a ng-href="#/">
            <span>codeSearch</span>
        </a>
    </h2>
    <span flex></span>  
    <div>
        <md-button ng-href="#/about" class="md-icon-button" ng-click="showToolTip()">
            <md-icon md-font-set="material-icons">info_outline</md-icon>
        </md-button>
    </div>
</div>